$primary-color-1: #e1e614; // Signal Citrus Yellow
$primary-color-2: #a3e600; // Info Lime
$primary-color-3: #5cc81c; // Info Green
$primary-color-4: #63c8a0; // Info Blue Green
$primary-color-5: #78e6f5; // Info Aqua
$primary-color-6: #009bff; // Info Sky
$primary-color-7: #0073e0; // Technology Blue

$secondary-color-1: #f37928; // Signal Orange
$secondary-color-2: #f8a41a; // InfoTangerine
$secondary-color-3: #263137; // Mid-night Blue
$secondary-color-4: #6d3592; // UltraViolet
$secondary-color-5: #414142; // Dark Gray
$secondary-color-6: #e6e7e8; // Light Gray

// $primary-font: font-family('Bebas Neue');
$primary-font: font-family('Roboto');
